
.metaBox {
  width: 100%;
  background-color: #282923;
}

.dbSelectBox {
  width: 100%;
  background-color: yellowgreen;
}

.metaDataBox {
  width: 100%;
}

.metaTreeBox {
  color: #f8f8f2;
  font-size: 0.5rem;
}
