$headerHeight: 54px;
$bodyHeight: calc(100vh - 54px);


.sqlFrame {
  height: $bodyHeight;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.topPane {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
}

.bottomPane {
  display: flex;
  background-color: blue;
}

.leftPane {
  display: flex;
  color: white;
  // background-color: red;
}

.rightPane {
  display: flex;
}